{% extends "project1/base.html" %}

{% block content %}
<style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin-top: 50px;
   
    
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .h3{
    text-align: center;
    margin-top: -30px;
  }
  .user_card {
			width: 350px;
            height:360px;
			margin-top: 170px;
			
			background: #EFE7E7;
			
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 8px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


		}
    .update_btn {
			width: 100%;
			padding:10px;
			margin-top:30px;
			background: #D65959!important;
			color: white !important;
      border-color: #D65959 ;
		}
		.update_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
    .update_btn:hover{
      border-color: #D65959;
    }
    .border-danger { border: 2px solid #007bff; border-radius: 5px; }
</style>

<div class="container h-100">
<div  class="d-flex justify-content-center form_container">
  <div class="user_card border-danger ">
    <div class="d-flex justify-content-center">
<form  method="POST" class="form-signin">{% csrf_token %}
    
  <h1 class="h3 mb-3 font-weight-normal"><font face="verdana">Change password</h1></font>
    <input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true">
    <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
    <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true">

    {% for field in form %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    {% endfor %}

  <button class="btn btn-lg btn-primary btn-block update_btn" type="submit">Update</button>  

</form>

</div>
</div>
</div>
</div>




{% endblock %}