{% extends "project1/base.html" %}
{% load static %}

{% block styles %}
body{
  background-color: #f7f7f7;
}
.io-cases {
  width: 100%;
}
.card{
  width:100%;
  font-size: 20px;
  border-width: 2px;
  border-color:#5e6ab0;
  border-radius: 1%;
}
.card-deck{
  display: inline;
  height:none;
}
.io-cards{
  width: 65%;
}
.card-deck .card{
  height:auto;
}  
div.sticky{
  position: -webkit-sticky; 
  position: sticky; 
  top: 0;
} 
a:hover{
  color: #5e6ab0;
  <!-- font-size: 15px; -->
}
{% endblock %}
{% block title %}
DSP Profile
{% endblock title %}
{% block content %}
<div class="bg-dark">
<nav class="navbar navbar-expand-lg navbar-dark  p-3">


        <a class="navbar-brand" mx-3 px-4" href="#">Einvestigate</a>
     
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav   mt-2 mt-lg-0 ml-auto ">
      <li class="nav-item ">
        <a class="nav-link  mx-3 px-4" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link active mx-3 px-4" href="{% url 'dspprofile' %}">Profile</a>
      </li>
      
      <li class="nav-item ">
        <a class="nav-link mx-3" href="{% url 'Addcase' %}">Add Case</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link mx-3" href="{% url 'crimerecord'%}">View Criminal Records</a>
      </li>
      
      <li class="nav-item mx-3">
    {% if user.is_authenticated %}
 
<a  class="nav-link" href="{% url 'logout' %}">Logout</a>
{% else %}
  
  <a class="nav-link" href="{% url 'login' %}">Login</a>
{% endif %}
</li>
     
    </ul>
       
    
    </div>
  </nav>
   </div> 




  <!-- Fixed profile box -->
  <div class="sticky" style="width: 400px; height: 100vh;padding: 100px; border-right-style: solid; border-right-width: 1.5px; border-right-color: #5e6ab0;">
    <img  src="{% static 'core/images/img_avatar.png' %}" class="mx-auto d-block" style="width:100px;height:100px;margin-top: -60px;margin-left:40px; border-radius: 20%;">
      <p style="color: #989898; padding:0; line-height: 0; font-size: 2vh; margin-top:40px;">Username</p>
      <p style="padding:0; line-height: 0.8vh; font-size: 3vh;">{{ user.username }}</p><br>

      <p style="color: #989898; padding:0; line-height: 0.8vh; font-size: 2vh;">Name</p>
      <p style="padding:0; line-height: 0.8vh; font-size: 3vh;"> {{ user.first_name }} {{ user.last_name }}</p><br>

      <p style="color: #989898; padding:0; line-height: 0.8vh; font-size: 2vh;">ID</p>
      <p style="padding:0; line-height: 0.8vh; font-size: 3vh;"> {{ user.profile.officer_id }}</p><br>

      <p style="color: #989898; padding:0; line-height: 0.8vh; font-size: 2vh;">Police Station</p>
      <p style="padding:0; line-height: 0.8vh; font-size: 3vh;"> {{ user.profile.location }}</p><br>

      <p style="color: #989898; padding:0; line-height: 0.8vh; font-size: 2vh;">Email ID</p>
      <p style="padding:0; line-height: 0.8vh; font-size: 3vh;"> {{ dspmail.email }}</p><br>

     <h6 style="text-align:center;padding: 8px;font-size: 15px;"><font face="verdana"><a class="m-auto" href="{% url 'password_change' %}">Change password</a></font> </h6>
  </div>
  

  <!-- MAIN CONTAINER -->
  <div class="row" style="margin-top: -650px; margin-left: 300px;" >
<div class="container io-cards ">
  <div class="card-deck border-primary io-cases ">
 {% for d in cases_of_dsp %}
 <div class="card " style="background-color: #f5f5f5;">
  <div style="text-align:center" class="card-body ">
    <h5 style="text-align:center;color:#5e6ab0;font-size: 20px;" class="card-title ">{{ d.case_id }}</h5>
    <p class="card-text " style="color:#2B2727">{{ d.case_description }}</p>
    <p class="card-text"> <small><a href="{% url 'InvestigationDetail' d.case_id %}"><h6>VIEW CASE DETAILS</h6></a></p>
  </div>
</div>
<br>
 {% endfor %}
</div>
</div>

</div>



 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    {% block js %}{% endblock%}
{% endblock content %}