{% extends "addcases/base.html" %}

{% block title %}
Add Case
{% endblock title %}
{% block styles %}




{% endblock %}
{% block body %}
<div class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark  p-3">
    
    
            <a class="navbar-brand" mx-3 px-4" href="#">Einvestigate</a>
         
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav   mt-2 mt-lg-0 ml-auto ">
          <li class="nav-item ">
            <a class="nav-link   mx-3 px-4" href="{% url 'home' %}">Home</a>
          </li>
           <li class="nav-item mx-4">
        {% if user.is_authenticated %}
        {%if user.profile.role|divisibleby:"2"%}
      <a  class="nav-link" href="{% url 'dspprofile' %}">Profile</a>
      {%elif user.profile.role|divisibleby:"3"%}
      <a  class="nav-link" href="{% url 'ioprofile' %}">Profile</a>
      {% endif %}
    {% else %}
      
    {% endif %}
    </li>
          <li class="nav-item ">
            <a class="nav-link mx-4" href="{% url 'About_Us' %}">About Us</a>
          </li>
          <li class="nav-item">
    
            <a class="nav-link mx-4" href="{% url 'Statistics' %}">Statistics</a>
    
          </li>
          <li class="nav-item">
            <a class="nav-link mx-4" href="{% url 'Contact_Us' %}">Contact Us</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active mx-3 px-4" href="{% url 'TrackCase' %}">Track Case</a>
          </li>
          
          <li class="nav-item mx-3">
        {% if user.is_authenticated %}
     
     <a  class="nav-link" href="{% url 'logout' %}">Logout</a>
    {% else %}
      
      <a class="nav-link" href="{% url 'login' %}">Login</a>
    {% endif %}
    </li>
         
        </ul>
           
          
        </div>
      </nav> </div>

<div class="container">
<div class="card card-outline-secondary" style="border-color:#5e6ab0;">
    <div class="card-header">
      <h3 class="mb-0">SUBMIT YOUR COMPLAINT</h3>
    </div>
    <div class="card-body">
      <form autocomplete="off" class="form" role="form" action="" method="POST">
        {% csrf_token %}
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label">Name: </label>
          <div class="col-lg-9">
              {{ form.complainant_name }}
          </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Contact: </label>
            <div class="col-lg-9">
                {{ form.complainant_contact }}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Email: </label>
            <div class="col-lg-9">
                {{ form.complainant_email }}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Address: </label>
            <div class="col-lg-9">
                {{ form.complainant_address }}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Complaint: </label>
            <div class="col-lg-9">
                {{ form.complaint }}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Crime District: </label>
            <div class="col-lg-9">
                {{ form.crime_district }}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">City/Village: </label>
            <div class="col-lg-9">
                {{ form.crime_location }}
            </div>
          </div>


    
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label"></label>
          <div class="col-lg-7">
            
                                  <input class=" btn addcase_btn" type="submit" value="Submit Complaint">
          </div>
        </div>
      </form>
    </div>
  </div>
</div><!-- /form user info -->
<!-- </div>
</div> -->
{% endblock body %}

{% block scripts %}
<script>
    if("{{flag}}"==1) {
        if(alert("Complaint submitted"))
            
            console.log("here");
    }
    if("{{flag}}"==2) {
        alert("Complaint not submitted, there was some error");
    }

    
</script>
{% endblock scripts %}